body{
    
    background: lightblue;
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: center;
}



label{
    display: flex; 
    justify-content: left;   
    width: 40%;
    padding: 10px;
}


input{
    display: flex;
    justify-content: left;    
    width: 40%;
    padding: 10px;
    margin-left: -170px
}

#recommend{
    display: flex;
    justify-content: right;

}

#improved{
    display: flex;
    justify-content: right;

}