body{
    margin: 0;
    background: lightblue;
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: center;
    min-width: 320px;
}

p, label, input{
    padding: 10px;
    display: block;
    min-width: 100px;

}