
body{
  font-family: 'Antic';font-size: 22px;
  background-color: rgba(0,0,0,0.8);
  color: whitesmoke;
  font-size: 0.9em;
 
 }

 blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: black;
}
blockquote:before {
  color: black;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

figure{
  padding: 5em;
  background: rgb(39, 38, 38);
  margin:0;
  
}

#footer{
   text-transform: capitalize;
   text-align: center;
 }
 
 #main{
   margin: auto 50px;
 }
 
 h1{
     font-family: tangerine;
     font-size: 5em;
     margin-bottom: 25px;
 }
 h5{
   font-size: 1em;
 }

 
#title, #sub-title{
  text-align: center;
}


#img-div{
  padding: 2em;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

@media screen, print{
  body{
    line-height: 2em;
  }
  img {
  max-width: 100%;
  display: block;
}
}